In [73]:
import pandas as pd

In [74]:
data=pd.read_csv("C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Raw_data\\cars.csv")

In [75]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [76]:
#Check for null values

In [77]:
data.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [78]:
data2 = pd.DataFrame(data)

In [79]:
# (b) Removed the units from Mileage, Engine, Power and New_Price and converted them into float

In [80]:
data2['Mileage'] = data2['Mileage'].str.extract('(\d+\.\d+)').astype(float)

data2['Engine'] = data2['Engine'].str.replace(' CC', '').astype(float)

data2['Power'] = data2['Power'].str.extract('(\d+\.\d+)').astype(float)

data2['New_Price'] = data2['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [81]:
# (a)
#Replace the NA values of Mileage, Engine and Power with median
#Median is the best replacement technique because it preserves the central tendency and avoids outliers
#Replace the NA values of Seat with Mode. Number of seats is discrete in nature, although it is quantitative value so mode is used
#As there are many null values incase of Newprice, it is better to drop a column because imputing any values can result in outliers in the data and lead to wrong analysis

In [82]:
data2['Mileage'].fillna(data2['Mileage'].median(),inplace=True)
data2['Engine'].fillna(data2['Engine'].median(),inplace=True)
data2['Power'].fillna(data2['Power'].median(),inplace=True)

data2['Seats'].fillna(data2['Seats'].mode()[0],inplace=True)

data2.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [83]:
output_csv_file = 'C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Results\\cleandata.csv'
data2.to_csv(output_csv_file, index=False)

In [84]:
data1=pd.read_csv("C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Results\\cleandata.csv")

In [85]:
data1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [86]:
#Check the unique values of Categorical variables: Fuel_Type, Transmission, Owner_Type

In [87]:
data1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [88]:
data1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [89]:
data1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [90]:
# (c) Convert the above categorical variables to numerical using one hot encoding
data1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
data1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
data1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [91]:
data1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [92]:
#Save the encoded data in separate csv file

In [93]:
output_csv_file = 'C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Results\\encodeddata.csv'
data1.to_csv(output_csv_file, index=False)

In [94]:
# (d) Add the new column CURRENT AGE OF THE CAR

In [95]:
from datetime import datetime

In [96]:
current_year = datetime.now().year

data1['Current_Age'] = current_year - data1['Year']

In [97]:
#Save the file with newly added Current_Age colmun in separate file
output_csv_file = 'C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Results\\mutation.csv'
data1.to_csv(output_csv_file, index=False)

In [98]:
data3=pd.read_csv("C:\\Users\\ppv\\Documents\\PDS\\PdsAssignment\\Results\\mutation.csv")
data3.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,8
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,12
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,11
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,10
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,10